<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/main.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous">
  </script>

  <title>Hello, world!</title>
</head>

<body>

  <!-- Nav -->
  <%- include('nav.html') %>

  <!-- Todo List -->
  <div class="container">
    <ul class="list-group">
      <h4 class="text-center ml-2 my-4">서버에서 가져온 할일 리스트</h4>

      <!-- Search Input -->
      <div class="container input-group mb-4 ml-2">
        <input class="form-control" id= "search-input">
        <button id="search" class="input-group-append btn btn-danger">검색</button>
      </div>

      <script>
        $('#search').click(function(){
          const inputVal = $('#search-input').val();
          window.location.replace('/search?value=' + inputVal);     // 해당 URL로 바꾸는 방법 (GET 요청과 같다!)
        });
      </script>

      <% for(let i = 0 ; i < posts.length ; i++){ %>
      <li class="list-group-item">
        <a href="http://localhost:8080/detail/<%= posts[i]._id %>" style="text-decoration: none; color : black">
          <h4 class="ml-2 my-3">할일 : <%= posts[i].title %></h4>
          <h6 class="ml-2 my-3">작성자 : <%= posts[i].author %></h6>
          <p class="ml-2 my-3">할일 마감 날짜 : <%= posts[i].date %> </p>
        </a>
        <button class="delete btn btn-danger" data-id="<%= posts[i]._id %>">삭제</button>
      </li>
      <% } %>
    </ul>
  </div>

  <!-- Ajax -->
  <script>
    $('.delete').click(function (e) { // 'class가 delete인 요소를 클릭하면'

      const postNum = e.target.dataset.id; // 타겟의 data-id를 불러오는 코드;
      const selected = $(this); // 지금 이벤트가 동작하는 곳

      $.ajax({
          method: 'DELETE',
          url: '/delete',
          data: {
            _id: postNum
          }
        }).done((result) => {
          console.log('성공했어요!'); // 브라우저의 콘솔창에 '성공했어요' 출력
          selected.parent('li').fadeOut(); // selected의 parent 중에 'li'를 찾아서 fadeOut 처리
        })
        .fail((result) => {

        });
    });
  </script>

</body>

</html>